:root {
  --main-bg-color-dark: #faf1dd;
  --main-bg-color-light: #fdfcf8;
  --main-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  --jumbo-border: 1px solid #c0c1c2;
}

/**************************************** Custom classes *****************************************/

.container,
.small-container,
.medium-container {
  max-width: 1024px;
  width: 95%;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  /* background-image: linear-gradient(45deg, rgb(143, 0, 0), rgb(250, 224, 66)); */
  /* background-color: whitesmoke; */
}

.wrapper {
  background-image: linear-gradient(
    135deg,
    var(--main-bg-color-light),
    var(--main-bg-color-dark)
  );
  min-height: 85vh;
}

.jumbo-shadow {
  border: var(--jumbo-border);
  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe; */
  box-shadow: var(--main-box-shadow);
  /* background-color: #fef9e7; */
  background-color: #fdfdf8;
}

.jumbo-aboutme {
  border: var(--jumbo-border);
  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  /* background-color: #fef9e7; */
  background-color: #fdfdf86c;
  background-image: url(https://lh3.googleusercontent.com/9YRtqtrKKKtXxyCWefMjfsewWPhJWs8gB4BxSnyPuOO7ZL4U0-hl9dcRvWaTXKiQ2fOhPPXuttgyKAtVsyUI8qssyrqLM-mz77iv2bn45dKfE4_2BZaNkQciythLFm7eJX17ZilSXuk=w2400);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: wheat;
  display: block;
  position: relative;
}

.jumbo-aboutme::before {
  content: "";
  background: rgb(29, 28, 28);
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: -1; */
}

.jumbo-gray {
  border-radius: 0%;
  /* border-bottom: 1px dashed #616262; */
  border-top: 1px solid #616262;
  padding: 10px;
  margin: 0;
  margin-bottom: 20px;
}

.project-image {
  height: 300px;
  object-fit: cover;
  box-shadow: var(--main-box-shadow);
  border-radius: 1%;
}

.navbar {
  background-color: #343a40;
  box-shadow: 0 2px 5px 0 rgba(61, 60, 61, 0.274),
    0 2px 10px 0 rgba(46, 47, 48, 0.212);
  color: #404040;
}

.titleNavLink,
.titleNavLink:hover,
.titleNavLink:active {
  background: linear-gradient(135deg, rgb(250, 192, 66), rgb(143, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.75em;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-right: 10px;
}

a.navlink {
  /* color: rgba(85, 84, 84); */
  color: #dbd8d8;
  opacity: 0.7;
  padding: 10px;
  /* align-self: center; */
  text-align: left;
  padding-right: 10px;
  font-size: 1.05em;
}

a.navlink:hover {
  opacity: 1;
  /* padding: 10px; */
}

a.navlink:active {
  opacity: 1;
  /* color: rgba(0, 0, 0); */
  text-decoration: underline;
  /* padding: 10px; */
}

a.navlink-active {
  opacity: 1;
  /* color: rgba(0, 0, 0); */
  color: white;
  padding-right: 10px;
}

.activityIndicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 40vh;
  padding-bottom: 60vh;
}

.tag-button {
  border-radius: 0.5em;
  background-image: linear-gradient(
    15deg,
    rgba(255, 0, 0, 0.4),
    rgba(255, 255, 0, 0.4)
  );
  border: 0px;
  color: rgb(49, 47, 47);
  padding: 5px;
  margin: 5px;
  transition: all 0.3s ease;
  opacity: 0.8;
  border: 0.1em solid rgba(85, 84, 84, 0.7);
}

.tag-button:hover {
  /* background-image: linear-gradient(
    15deg,
    rgba(255, 0, 0, 0.45),
    rgba(255, 255, 0, 0.45)
  ); */
  opacity: 1;
}

.tag-button:focus,
.tag-button:active {
  outline: none;
}

footer {
  height: 15vh;
  padding: 10px;
  background-color: var(--main-bg-color-dark);
  /* border-bottom: 10px solid; */
  border: 0px;
  border-top: 1px solid;
  border-image: linear-gradient(135deg, rgb(143, 0, 0), rgb(250, 192, 66)) 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(61, 60, 61, 0.274),
    0 2px 10px 0 rgba(46, 47, 48, 0.212);
}

hr.style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

h1 {
  font-weight: 500;
  text-align: left;
  text-align: center;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 300;
}

h4 {
  font-weight: 350;
  padding: 0;
  margin-top: 15px;
  font-size: 1.1em;
}
